* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: inherit;
    font-family: sans-serif;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 180px 1fr;
    padding-bottom: 50px;
    height: 100vh;
}

.sidebar {
    background-color: rgb(0, 162, 255);
    grid-row: 1 / -1;
    color: white;
    display: grid;
    justify-items: left;
    padding-left: 25px;
    padding-top: 25px;
    grid-auto-rows: 45px;
    align-items: center;
    min-height: min-content;
}

.sidebar-link,
.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-link {
    padding-left: 10px;
}

.sidebar-logo {
    gap: 15px;
}

.sidebar-link img {
    height: 25px;
    width: 25px;
}

.sidebar-logo img {
    height: 40px;
    width: 40px;
}

.sidebar h1 {
    font-size: 28px;
}

.sidebar a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.header {
    background-color: white;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 75px 105px;
    padding-left: 45px;
    padding-right: 25px;
}

.header img {
    height: 25px;
    width: 25px;
}

.search-and-profile {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 30px 45px 175px;
    align-items: center;
    gap: 25px;
    padding-top: 10px;
    padding-right: 25px;
}

.search-and-profile label {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-icon img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#search {
    border: none;
    outline: none;
    background-color: rgb(215, 221, 224);
    width: 85%;
    height: 36px;
    border-radius: 100px;
    font-size: 18px;
    padding-left: 20px;
    appearance: none;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

#search:focus {
    border: 2px solid rgb(0, 162, 255);
}

.profile-and-buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.profile-welcome {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

.profile-welcome img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.hi {
    font-size: 16px;
    padding-left: 1px;
    padding-bottom: 3px;
}

.name-and-tag {
    font-size: 24px;
    font-weight: bold;
}

.buttons-container {
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
    padding-right: 45px;
}

.buttons-container button {
    background-color:rgb(0, 162, 255);
    font-size: 18px;
    color: white;
    border-radius: 100px;
    height: 40px;
    width: 110px;
    font-weight: bold;
    border: none;
}

.buttons-container button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px lightgray;
    background-color: rgb(69, 185, 252);
}

.dashboard {
    background-color: rgb(215, 221, 224);
    display: grid;
    grid-template-columns: 1fr 330px;
    grid-template-rows: 75px 1fr 1fr;
    padding-left: 30px;
    gap: 30px;
    padding-right: 30px;
}

.your-projects,
.announcements,
.trending-title {
    font-size: 22px;
    font-weight: bold;
    align-self: self-end;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-row: 2 / 4;
    grid-auto-rows: 250px;
    gap: 30px;
    justify-content: start;
}

.project-card {
    background-color: white;
    width: min(390px, 100%);
    height: 250px;
    border-radius: 16px;
    display: flex;
}

.card-tag {
    background-color: rgb(240, 202, 32);
    height: 250px;
    width: 10px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    position: absolute;
}

.card-content {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 40px 120px 40px;
}

.card-content h2 {
    padding-bottom: 10px;
    font-size: 20px;
}

.card-content p {
    color: gray;
    font-weight: bold;
}

.card-buttons {
    display: flex;
    gap: 10px;
    justify-self: right;
}

.card-buttons img {
    width: 25px;
    height: 25px;
}

.announcements-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px 40px;
    background-color: white;
    align-items: center;
    border-radius: 16px;
}

.announcement {
    padding: 20px 0px;
    border-bottom: 1px solid gray;
}

.announcement:last-of-type {
    border-bottom: none;
}

.announcement h3 {
    font-size: 16px;
    padding-bottom: 5px;
}

.announcement p {
    font-size: 14px;
    color: gray;
}